/* -------------------------------------
----------------------------------------
Type : Cascading Style Sheet
Author : Flows
Created in : 25-07-2021
Last modification : 1-08-2021
Version : 1.0
----------------------------------------
--------------------------------------*/

body{
    font: 16px "Roboto", "Open-Sans", sans-serif;
}
a:link{
    text-decoration: none;
}
/* ========= HEADER ========= */
header#hd-home{
    height: 100vh;
    width: 100vw;
}
.title-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*display: inline-block;*/
}

div#logo-main{
    margin: 2%;
    padding-right: 40px;

}
#logo-main img{
    margin-top: 30px;
    height: 250px;
    width: auto;
}

div#title-main h1{
    padding-top: 80px;
    font-weight: 800;
    color: black;
    font-size: 80px;
}

.pages-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    padding: 10%;
    /*padding-bottom: 200px;*/
    justify-items: center;
}
div.btn-header button.btn{
    border: 3px solid;
    font-weight: 600;
}
div.btn-header button.btn:hover{
    border: 3px solid;
    font-weight: 600;
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.pages-links div#btn-asso{
    grid-row: 1;
    justify-self: end;
    margin-right: 90px;
}
.pages-links div#btn-event{
    grid-row: 1;
    justify-self: start;
    margin-left: 90px;
}

/* == HEADER STANDARD == */
.header-top{
    display: flex;
    flex-direction: row;
}
.header-top>div.hd-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-top>div.hd-title>a>img{
    height: 150px;
    margin: 15px;
}
.header-top>div.hd-title>h1{
    font-size: 80px;
    font-weight: 800;
}
nav.main-menu{
    text-align: center;
}
nav.main-menu>ul>li{
    display: inline-flex;
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}
nav.main-menu>ul>li>a{
    color: black;
}
nav.main-menu>ul>li>a:hover{
    font-weight: 700;
    color: cadetblue;
}

/* ========= BODY - Contains ========= */

#events-home, #asso {
    padding-left: 50px;
    padding-right: 50px;
}

div.events-container, div#asso{
    margin: 50px 0;
}

.events-container{
    background-color: cadetblue;
    padding: 50px 0;
}

div.events-container>h2, div#asso>h2{
    margin-bottom: 35px;
    text-align: center;
    font-weight: 700;
}
div.events-container>h2{
    color: #ffffff;
}
div.events-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
div#asso-info{
    display: flex;
    flex-direction: row;
}
div#asso-info>p{
    margin-left: 50px;
    text-align: justify;
}

div#asso-info>div.txt-ly{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

div#asso-info>div.txt-ly>a.readmore{
    padding-top: 50px;
    color: black;
}

div#asso-info>div.txt-ly>a:hover{
    font-weight: 600;
    color:cadetblue;
}

.center-btn-cards{
    position: relative;
    left: 75px;
}


/* ========= FOOTER ========= */

footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.ft-1, .ft-2, .ft-3, .ft-4{
    width: 100%;
    padding: 30px 0;
    font-size: 13px;
}
.ft-1 img{
    height: 100px;
    margin: 0 60px;
}
div.ft-3>ul>a>li, div.ft-4>ul>a>li {
    list-style-type: none;
    line-height: 25px;
    color: black;
}

div.ft-3>ul>a:hover, div.ft-4>ul>a:hover {
    color: cadetblue;
    font-weight: 500;
}


/* --- RESPONSIVE DESIGN MODE --- */

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 700px) {
    .title-head{
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
    .pages-links{
        margin-bottom: 40px;
    }

    div#title-main h1{
        padding-top: 50px;
        font-weight: 800;
        color: black;
        font-size: 60px;
    }

}

@media screen and (max-width: 400px) {
    
}

