/* -------------------------------------
----------------------------------------
Type : Cascading Style Sheet
Author : Flows
Created in : 25-07-2021
Last modification : 1-08-2021
Version : 1.0
----------------------------------------
--------------------------------------*/

body{
    font: 16px "Roboto", "Open-Sans", sans-serif;
}
a:link{
    text-decoration: none;
}
hr{
    margin-bottom: 0!important;
}
/* ========= HEADER ========= */
header#hd-home{
    height: 100vh;
    width: 100vw;
}
.title-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*display: inline-block;*/
}

div#logo-main{
    margin: 2%;
    padding-right: 40px;

}
#logo-main img{
    margin-top: 30px;
    height: 250px;
    width: auto;
}

div#title-main h1{
    padding-top: 80px;
    font-weight: 800;
    color: black;
    font-size: 80px;
}

.pages-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    padding: 10%;
    /*padding-bottom: 200px;*/
    justify-items: center;
}
div.btn-header button.btn{
    border: 3px solid;
    font-weight: 600;
}
div.btn-header button.btn:hover{
    border: 3px solid;
    font-weight: 600;
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.pages-links div#btn-asso{
    grid-row: 1;
    justify-self: end;
    margin-right: 90px;
}
.pages-links div#btn-event{
    grid-row: 1;
    justify-self: start;
    margin-left: 90px;
}

/* == HEADER STANDARD == */
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-top>div.hd-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-top>div.hd-title>a>img{
    height: 150px;
    margin: 15px;
}
.header-top>div.hd-title>h1{
    font-size: 50px;
    font-weight: 800;
}
nav.main-menu{
    text-align: center;
}
nav.main-menu>ul>li{
    display: inline-flex;
    list-style-type: none;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    padding-top: 1rem;
}
nav.main-menu>ul>li>a{
    color: black;
    font-weight: 600;
}
nav.main-menu>ul>li>a:hover{
    color: cadetblue;
}

/* ========= BODY - Contains ========= */

#events-home, #asso {
    padding-left: 50px;
    padding-right: 50px;
}

div.events-container, div#asso{
    margin: 50px 0;
}
div.pg-events{
    margin-top: 0;
    padding: 50px;
}

.events-container{
    background-color: cadetblue;
    padding: 50px 0;
}

div.events-container>h2, div#asso>h2{
    margin-bottom: 35px;
    text-align: center;
    font-weight: 700;
}
div.events-container>h2{
    color: #ffffff;
}
div.events-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
div#asso-info{
    display: flex;
    flex-direction: row;
}
div#asso-info>p{
    margin-left: 50px;
    text-align: justify;
}

div#asso-info>div.txt-ly{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

button.discover{
    background-color: cadetblue;
    border-radius: 3px;
    padding: 1rem;
    margin-top: 50px;
    border-color: transparent;
    transition: 1s;
}
button.discover:hover{
    background-color: black;
}

button.discover>a.readmore{
    color: white;
}

.center-btn-cards{
    position: relative;
    left: 75px;
}
a.btn.btn-dark.center-btn-cards:hover{
    background-color: cadetblue;
}

/* ========= FOOTER ========= */

footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.ft-1, .ft-2, .ft-3, .ft-4{
    width: 100%;
    padding: 30px 0;
    font-size: 13px;
}
.ft-1 img{
    height: 100px;
    margin: 0 60px;
}
div.ft-3>ul>a>li, div.ft-4>ul>a>li {
    list-style-type: none;
    line-height: 25px;
    color: black;
}

div.ft-3>ul>a:hover, div.ft-4>ul>a:hover {
    color: cadetblue;
    font-weight: 500;
}


/* --- RESPONSIVE DESIGN MODE --- */

@media screen and (max-width: 1024px) {
/* === PAGE HOME === */
.title-head{
    height: 50vh;
    }
    #asso>#asso-info > img{
        width: auto;
        height: 250px;
    }
    button.discover{
        margin-top: 15px;
    }
    #events-home, #asso {
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media screen and (max-width: 900px) {
/* === PAGE HOME === */
    .title-head{
        height: 80vh;
        display: flex;
        flex-direction: column;
        }
    #asso>#asso-info > img{
        width: auto;
        height: 185px;
    }
/* === PAGE EVENEMENTS === */
    .ft-1, .ft-2, .ft-3, .ft-4 {
        width: 100%;
        padding: 10px 0;
        font-size: 13px;
    }
}


@media screen and (max-width: 700px) {
    /* === PAGE HOME === */
    .title-head{
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    div.pages-links{
        margin-bottom: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 80px);
    }
    div.pages-links>div#btn-asso{
        grid-row: 1;
        justify-self: center;
        margin-right: 0;
    }
    div.pages-links>div#btn-event{
        grid-row: 2;
        justify-self: center;
        margin-left: 0;
    }
    div#title-main h1{
        padding-top: 50px;
        font-weight: 800;
        color: black;
        font-size: 60px;
    }

    div#asso-info{
        display: flex;
        flex-direction: column;
    }
    #asso>#asso-info > img{
        width: auto;
        height: 220px;
    }
    div#asso-info>div.txt-ly{
        margin-left: 0;
        margin-top: 40px;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .ft-1, .ft-2, .ft-3, .ft-4{
        padding: 15px 0;
        padding-left: 40px;
    }
    .ft-3, .ft-4{
        margin-left: 50px;
    }
    div.ft-1 > a > img{
        margin-left: 90px;
    }
    .ft-2{
        margin-left: 80px;
    }

    /* === PAGE EVENEMENTS === */
    .header-top{
        height: 50vh;
    }
    .header-top>div.hd-title{
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    /* === PAGE HOME === */
    .title-head{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div#logo-main>a>img{
        height:150px;
    }
    div#title-main>h1{
        font-size: 45px;
    }
    div.pages-links{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 80px);
    }
    div.pages-links>div#btn-asso{
        grid-row: 1;
        justify-self: center;
        margin-right: 0;
    }
    div.pages-links>div#btn-event{
        grid-row: 2;
        justify-self: center;
        margin-left: 0;
    }
    div#asso-info{
        display: flex;
        flex-direction: column;
    }
    #asso>#asso-info > img{
        width: auto;
        height: 185px;
    }
    div#asso-info>div.txt-ly{
        margin-left: 0;
        margin-top: 40px;
    }
    .center-btn-cards{
        left: 45px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .ft-1, .ft-2, .ft-3, .ft-4{
        padding: 15px 0;
    }
    .ft-3, .ft-4{
        margin-left: 50px;
    }
    div.ft-1 > a > img{
        margin-left: 90px;
    }
    .ft-2{
        margin-left: 80px;
    }
    /* === PAGE EVENEMENTS === */
    .header-top{
        height: 65vh;
    }
    .header-top>div.hd-title{
        flex-direction: column;
    }
    nav.main-menu>ul{
        padding-left: 0;
    }
    nav.main-menu>ul>li{
        display: flex;
        flex-direction: column;
    }
}